<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
</head>

<body>
    <div class="mainbox">
        <label for="email">Mail :</label>
        <input type="email" name="mail" id="mail" required>
        <label for="password">Password :</label>
        <input type="text" name="password" id="password" required>
        <button type="submit" id="loginbutton">Log in</button>
    </div>
</body>
<script>
    document.getElementById("loginbutton").addEventListener("click", async () => {
        const mail = document.getElementById("mail").value;
        const password = document.getElementById("password").value;
        try {
            await axios.post('http://localhost:3000/user/login', { mail, password }, {
                headers: {
                    'Content-Type': 'application/json' 
                }, withCredentials: true
            })
                .then((res) => {
                    if (res.data.redirect) {
                        // If the response is a redirect, navigate to the redirected URL
                        window.location.href = res.data.url;
                    } else {

                        alert(res.data.message);
                    }
                })
                .catch(err => console.log(err))
        } catch (err) {
            console.log(err);
        }
    })

</script>

</html>