<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create DB</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
</head>

<body>
    <div class="mainbox">
        <label for="email">Mail :</label>
        <input type="email" name="mail" id="mail" required>
        <label for="password">Password :</label>
        <input type="text" name="password" id="password" required>
        <button type="submit" id="loginbutton">Log in</button>
    </div>
</body>
<script>
    document.getElementById("loginbutton").addEventListener("click", async () => {
        const mail = document.getElementById("mail");
        const password = document.getElementById("password");
        try{
        await axios.post('http://localhost:3000/user/login', { mail, password })
            .then(() => {

            })
            .catch(err => console.log(err))
        }catch (err){
            console.log(err);
        }
    })

</script>

</html>