<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
</head>

<body>
    <div class="outerbox" id="outerbox">
        <div class="mainbox">
            <label for="email">Mail :</label>
            <input type="email" name="mail" id="mail" required>
            <label for="password">New Password :</label>
            <input type="text" name="password" id="password" required>
            <label for="confirmpassword">New Password :</label>
            <input type="text" name="confirmpassword" id="confirmpassword" required>
            <button type="submit" id="reset">Update</button>
        </div>
        
    </div>
</body>
<script>
      document.getElementById("reset").addEventListener("click",async()=>{
        const mail=document.getElementById("mail").value;
        const password=document.getElementById("password").value;
        const confirmpassword=document.getElementById("confirmpassword").value;
        try{
            const res=await axios.post('http://localhost:3000/user/resetnewpassword',{mail,password,confirmpassword},{withCredentials:true});
            alert(res.data.message);
        }catch(err){
            console.log("in resetpassword page",err);
        }
        
      })
</script>
</html>