
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form action="/user/login_credentials" method="post">
        <label for="name">Name :</label>
        <input type="name" name="name" id="name" required>
        <label for="email">Mail :</label>
        <input type="email" name="mail" id="mail" required>
        <label for="password">Password :</label>
        <input type="text" name="password" id="password" required>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>